[*]
desc = "An Aluette playing card."
author = "Baptiste-Paul Grimaud (editor)"
modified_by = "sighsv"
license = "Public domain"
url = "https://commons.wikimedia.org/wiki/Category:Aluette_card_deck_-_Grimaud_-_1858-1890"
scale = Vector2(5.6, 8.7)
back_face = "Back side.jpg"

; French poker mass
mass = 1.8

[Back side.jpg]
ignore = true


[Ace of Swords.jpg]
value = 1
suit = "Swords"
[Ace of Cups.jpg]
value = 1
suit = "Cups"
[Ace of Coins.jpg]
value = 1
suit = "Coins"
[Ace of Clubs.jpg]
value = 1
suit = "Clubs"

[Two of Swords.jpg]
value = 2
suit = "Swords"
[Two of Cups.jpg]
value = 2
suit = "Cups"
[Two of Coins.jpg]
value = 2
suit = "Coins"
[Two of Clubs.jpg]
value = 2
suit = "Clubs"

[Three of Swords.jpg]
value = 3
suit = "Swords"
[Three of Cups.jpg]
value = 3
suit = "Cups"
[Three of Coins.jpg]
value = 3
suit = "Coins"
[Three of Clubs.jpg]
value = 3
suit = "Clubs"

[Four of Swords.jpg]
value = 4
suit = "Swords"
[Four of Cups.jpg]
value = 4
suit = "Cups"
[Four of Coins.jpg]
value = 4
suit = "Coins"
[Four of Clubs.jpg]
value = 4
suit = "Clubs"

[Five of Swords.jpg]
value = 5
suit = "Swords"
[Five of Cups.jpg]
value = 5
suit = "Cups"
[Five of Coins.jpg]
value = 5
suit = "Coins"
[Five of Clubs.jpg]
value = 5
suit = "Clubs"

[Six of Swords.jpg]
value = 6
suit = "Swords"
[Six of Cups.jpg]
value = 6
suit = "Cups"
[Six of Coins.jpg]
value = 6
suit = "Coins"
[Six of Clubs.jpg]
value = 6
suit = "Clubs"

[Seven of Swords.jpg]
value = 7
suit = "Swords"
[Seven of Cups.jpg]
value = 7
suit = "Cups"
[Seven of Coins.jpg]
value = 7
suit = "Coins"
[Seven of Clubs.jpg]
value = 7
suit = "Clubs"

[Eight of Swords.jpg]
value = 8
suit = "Swords"
[Eight of Cups.jpg]
value = 8
suit = "Cups"
[Eight of Coins.jpg]
value = 8
suit = "Coins"
[Eight of Clubs.jpg]
value = 8
suit = "Clubs"

[Nine of Swords.jpg]
value = 9
suit = "Swords"
[Nine of Cups.jpg]
value = 9
suit = "Cups"
[Nine of Coins.jpg]
value = 9
suit = "Coins"
[Nine of Clubs.jpg]
value = 9
suit = "Clubs"

[Jack of Swords.jpg]
value = 10
suit = "Swords"
[Jack of Cups.jpg]
value = 10
suit = "Cups"
[Jack of Coins.jpg]
value = 10
suit = "Coins"
[Jack of Clubs.jpg]
value = 10
suit = "Clubs"

[Knight of Swords.jpg]
value = 11
suit = "Swords"
[Knight of Cups.jpg]
value = 11
suit = "Cups"
[Knight of Coins.jpg]
value = 11
suit = "Coins"
[Knight of Clubs.jpg]
value = 11
suit = "Clubs"

[King of Swords.jpg]
value = 12
suit = "Swords"
[King of Cups.jpg]
value = 12
suit = "Cups"
[King of Coins.jpg]
value = 12
suit = "Coins"
[King of Clubs.jpg]
value = 12
suit = "Clubs"
