[*]

desc = "A Tarot card."
author = "Illustration: Pamela Colman Smith, Concept: A. E. Waite, Published by William Rider & Son"
license = "Public domain"
url = "https://commons.wikimedia.org/wiki/Category:Rider-Waite_tarot_deck"
modified_by = "sighsv"

; French poker mass
mass = 1.8

; https://steve-p.org/cards/RWSa.html
; https://astroamerica.com/t-rider.html
scale = Vector2(7.0, 12.0)

back_face = "Back.jpg"

[Back.jpg]
ignore = true

[Ace of Swords.jpg]
value = 1
suit = "S"
[Ace of Cups.jpg]
value = 1
suit = "C"
[Ace of Pentacles.jpg]
value = 1
suit = "P"
[Ace of Wands.jpg]
value = 1
suit = "W"

[Two of Swords.jpg]
value = 2
suit = "S"
[Two of Cups.jpg]
value = 2
suit = "C"
[Two of Pentacles.jpg]
value = 2
suit = "P"
[Two of Wands.jpg]
value = 2
suit = "W"

[Three of Swords.jpg]
value = 3
suit = "S"
[Three of Cups.jpg]
value = 3
suit = "C"
[Three of Pentacles.jpg]
value = 3
suit = "P"
[Three of Wands.jpg]
value = 3
suit = "W"

[Four of Swords.jpg]
value = 4
suit = "S"
[Four of Cups.jpg]
value = 4
suit = "C"
[Four of Pentacles.jpg]
value = 4
suit = "P"
[Four of Wands.jpg]
value = 4
suit = "W"

[Five of Swords.jpg]
value = 5
suit = "S"
[Five of Cups.jpg]
value = 5
suit = "C"
[Five of Pentacles.jpg]
value = 5
suit = "P"
[Five of Wands.jpg]
value = 5
suit = "W"

[Six of Swords.jpg]
value = 6
suit = "S"
[Six of Cups.jpg]
value = 6
suit = "C"
[Six of Pentacles.jpg]
value = 6
suit = "P"
[Six of Wands.jpg]
value = 6
suit = "W"

[Seven of Swords.jpg]
value = 7
suit = "S"
[Seven of Cups.jpg]
value = 7
suit = "C"
[Seven of Pentacles.jpg]
value = 7
suit = "P"
[Seven of Wands.jpg]
value = 7
suit = "W"

[Eight of Swords.jpg]
value = 8
suit = "S"
[Eight of Cups.jpg]
value = 8
suit = "C"
[Eight of Pentacles.jpg]
value = 8
suit = "P"
[Eight of Wands.jpg]
value = 8
suit = "W"

[Nine of Swords.jpg]
value = 9
suit = "S"
[Nine of Cups.jpg]
value = 9
suit = "C"
[Nine of Pentacles.jpg]
value = 9
suit = "P"
[Nine of Wands.jpg]
value = 9
suit = "W"

[Ten of Swords.jpg]
value = 10
suit = "S"
[Ten of Cups.jpg]
value = 10
suit = "C"
[Ten of Pentacles.jpg]
value = 10
suit = "P"
[Ten of Wands.jpg]
value = 10
suit = "W"

[Page of Swords.jpg]
value = 11
suit = "S"
[Page of Cups.jpg]
value = 11
suit = "C"
[Page of Pentacles.jpg]
value = 11
suit = "P"
[Page of Wands.jpg]
value = 11
suit = "W"

[Knight of Swords.jpg]
value = 12
suit = "S"
[Knight of Cups.jpg]
value = 12
suit = "C"
[Knight of Pentacles.jpg]
value = 12
suit = "P"
[Knight of Wands.jpg]
value = 12
suit = "W"

[Queen of Swords.jpg]
value = 13
suit = "S"
[Queen of Cups.jpg]
value = 13
suit = "C"
[Queen of Pentacles.jpg]
value = 13
suit = "P"
[Queen of Wands.jpg]
value = 13
suit = "W"

[King of Swords.jpg]
value = 14
suit = "S"
[King of Cups.jpg]
value = 14
suit = "C"
[King of Pentacles.jpg]
value = 14
suit = "P"
[King of Wands.jpg]
value = 14
suit = "W"

[Major 0.jpg]
name = "The Fool (Zero of Trumps)"
value = 0
suit = "T"
[Major 1.jpg]
name = "The Magician (One of Trumps)"
value = 1
suit = "T"
[Major 2.jpg]
name = "The High Priestess (Two of Trumps)"
value = 2
suit = "T"
[Major 3.jpg]
name = "The Empress (Three of Trumps)"
value = 3
suit = "T"
[Major 4.jpg]
name = "The Empress (Four of Trumps)"
value = 4
suit = "T"
[Major 5.jpg]
name = "The Hierophant (Five of Trumps)"
value = 5
suit = "T"
[Major 6.jpg]
name = "The Lovers (Six of Trumps)"
value = 6
suit = "T"
[Major 7.jpg]
name = "The Chariot (Seven of Trumps)"
value = 7
suit = "T"
[Major 8.jpg]
name = "Strength (Eight of Trumps)"
value = 8
suit = "T"
[Major 9.jpg]
name = "The Hermit (Nine of Trumps)"
value = 9
suit = "T"
[Major 10.jpg]
name = "Wheel of Fortune (Ten of Trumps)"
value = 10
suit = "T"
[Major 11.jpg]
name = "Justice (Eleven of Trumps)"
value = 11
suit = "T"
[Major 12.jpg]
name = "The Hanged Man (Twelve of Trumps)"
value = 12
suit = "T"
[Major 13.jpg]
name = "Death (Thirteen of Trumps)"
value = 13
suit = "T"
[Major 14.jpg]
name = "Temperance (Fourteen of Trumps)"
value = 14
suit = "T"
[Major 15.jpg]
name = "The Devil (Fifteen of Trumps)"
value = 15
suit = "T"
[Major 16.jpg]
name = "The Tower (Sixteen of Trumps)"
value = 16
suit = "T"
[Major 17.jpg]
name = "The Star (Seventeen of Trumps)"
value = 17
suit = "T"
[Major 18.jpg]
name = "The Moon (Eighteen of Trumps)"
value = 18
suit = "T"
[Major 19.jpg]
name = "The Sun (Nineteen of Trumps)"
value = 19
suit = "T"
[Major 20.jpg]
name = "Judgment (Twenty of Trumps)"
value = 20
suit = "T"
[Major 21.jpg]
name = "The World (Twenty-one of Trumps)"
value = 21
suit = "T"
