[*]

desc = "A Bresciane playing card."
author = "ZZandro (Wikimedia Commons)"
license = "CC-BY-SA 4.0 International"
url = "https://commons.wikimedia.org/wiki/File:Carte_bresciane_al_completo.svg"

; French poker mass
mass = 1.8

; https://it.wikipedia.org/wiki/Carte_da_gioco_italiane#Dimensioni
scale = Vector2(4.2, 8.8)

back_face = "Retro di Spade.png"

[Retro*]
ignore = true

[Asso di Spade.png]
value = 1
suit = "S"
[Asso di Coppe.png]
value = 1
suit = "C"
[Asso di Denari.png]
value = 1
suit = "D"
[Asso di Bastoni.png]
value = 1
suit = "B"

[Due di Spade.png]
value = 2
suit = "S"
[Due di Coppe.png]
value = 2
suit = "C"
[Due di Denari.png]
value = 2
suit = "D"
[Due di Bastoni.png]
value = 2
suit = "B"

[Tre di Spade.png]
value = 3
suit = "S"
[Tre di Coppe.png]
value = 3
suit = "C"
[Tre di Denari.png]
value = 3
suit = "D"
[Tre di Bastoni.png]
value = 3
suit = "B"

[Quattro di Spade.png]
value = 4
suit = "S"
[Quattro di Coppe.png]
value = 4
suit = "C"
[Quattro di Denari.png]
value = 4
suit = "D"
[Quattro di Bastoni.png]
value = 4
suit = "B"

[Cinque di Spade.png]
value = 5
suit = "S"
[Cinque di Coppe.png]
value = 5
suit = "C"
[Cinque di Denari.png]
value = 5
suit = "D"
[Cinque di Bastoni.png]
value = 5
suit = "B"

[Sei di Spade.png]
value = 6
suit = "S"
[Sei di Coppe.png]
value = 6
suit = "C"
[Sei di Denari.png]
value = 6
suit = "D"
[Sei di Bastoni.png]
value = 6
suit = "B"

[Sette di Spade.png]
value = 7
suit = "S"
[Sette di Coppe.png]
value = 7
suit = "C"
[Sette di Denari.png]
value = 7
suit = "D"
[Sette di Bastoni.png]
value = 7
suit = "B"

[Otto di Spade.png]
value = 8
suit = "S"
[Otto di Coppe.png]
value = 8
suit = "C"
[Otto di Denari.png]
value = 8
suit = "D"
[Otto di Bastoni.png]
value = 8
suit = "B"

[Nove di Spade.png]
value = 9
suit = "S"
[Nove di Coppe.png]
value = 9
suit = "C"
[Nove di Denari.png]
value = 9
suit = "D"
[Nove di Bastoni.png]
value = 9
suit = "B"

[Dieci di Spade.png]
value = 10
suit = "S"
[Dieci di Coppe.png]
value = 10
suit = "C"
[Dieci di Denari.png]
value = 10
suit = "D"
[Dieci di Bastoni.png]
value = 10
suit = "B"

[Fante di Spade.png]
value = 11
suit = "S"
[Fante di Coppe.png]
value = 11
suit = "C"
[Fante di Denari.png]
value = 11
suit = "D"
[Fante di Bastoni.png]
value = 11
suit = "B"

[Cavallo di Spade.png]
value = 12
suit = "S"
[Cavallo di Coppe.png]
value = 12
suit = "C"
[Cavallo di Denari.png]
value = 12
suit = "D"
[Cavallo di Bastoni.png]
value = 12
suit = "B"

[Re di Spade.png]
value = 13
suit = "S"
[Re di Coppe.png]
value = 13
suit = "C"
[Re di Denari.png]
value = 13
suit = "D"
[Re di Bastoni.png]
value = 13
suit = "B"
