[*]
author = "sighsv"
license = "CC0"
; 16 mm default
; https://www.dice.co.uk/outlines.htm
mass = 4.1
activities = ["Generic"]
cultures = ["Various"]
com_adjust = 0

[Doubling Cube.glb]
desc = "A cube for keeping track of the current stakes of tables games."
face_values = {
    2: Vector2(0.0, 90.0),
    4: Vector2(0.0, -90.0),
    8: Vector2(-90.0, 0.0),
    16: Vector2(90.0, 0.0),
    32: Vector2(180.0, 0.0),
    64: Vector2(0.0, 0.0),
}
activities = ["Backgammon"]
cultures = ["England"]

[Perfect Die.glb]
desc = "A casino style \"perfect\" die."
; This is typical from a glance
mass = 9.0
face_values = {
    1: Vector2(180.0, 0.0),
    2: Vector2(0.0, -90.0),
    3: Vector2(90.0, 0.0),
    4: Vector2(-90.0, 0.0),
    5: Vector2(0.0, 90.0),
    6: Vector2(0.0, 0.0),
}

[Binary*]
desc = "A binary die which rolls either 1 or 0, with fair odds."
face_values = {
    Vector2(180.0, 0.0): 0,
    Vector2(0.0, -90.0): 0,
    Vector2(90.0, 0.0): 1,
    Vector2(-90.0, 0.0): 0,
    Vector2(0.0, 90.0): 1,
    Vector2(0.0, 0.0): 1,
}

[Sicherman Die Low.glb]
desc = "A Sicherman die, roll with the high die for fair 2d6 rolls."
face_values = {
    Vector2(180.0, 0.0): 3,
    Vector2(0.0, -90.0): 2,
    Vector2(90.0, 0.0): 1,
    Vector2(-90.0, 0.0): 4,
    Vector2(0.0, 90.0): 3,
    Vector2(0.0, 0.0): 2,
}
cultures = ["United States"]

[Sicherman Die High.glb]
desc = "A Sicherman die, roll with the low die for fair 2d6 rolls."
face_values = {
    Vector2(180.0, 0.0): 5,
    Vector2(0.0, -90.0): 6,
    Vector2(90.0, 0.0): 1,
    Vector2(-90.0, 0.0): 5,
    Vector2(0.0, 90.0): 3,
    Vector2(0.0, 0.0): 8,
}
cultures = ["United States"]

[Average Die.glb]
desc = "A die with averaged out values for more consistent rolls."
face_values = {
    Vector2(180.0, 0.0): 3,
    Vector2(0.0, -90.0): 2,
    Vector2(90.0, 0.0): 3,
    Vector2(-90.0, 0.0): 4,
    Vector2(0.0, 90.0): 5,
    Vector2(0.0, 0.0): 4,
}

[Fudge Die.glb]
desc = "A die with 1/3 plus, 1/3 minus, and 1/3 zero."
face_values = {
    Vector2(180.0, 0.0): 0,
    Vector2(0.0, -90.0): 1,
    Vector2(90.0, 0.0): -1,
    Vector2(-90.0, 0.0): -1,
    Vector2(0.0, 90.0): 1,
    Vector2(0.0, 0.0): 0,
}

[Cowrie Die Even.glb]
name = "Cowrie Die (Even)"
desc = "A binary die styled after cowrie shells, with even odds."
face_values = {
    Vector2(180.0, 0.0): 0,
    Vector2(0.0, -90.0): 0,
    Vector2(90.0, 0.0): 1,
    Vector2(-90.0, 0.0): 0,
    Vector2(0.0, 90.0): 1,
    Vector2(0.0, 0.0): 1,
}
