[*]
com_adjust = "off"
author = "sighsv"
license = "CC0"

[Checker.glb]
name = "White Checker"
desc = "A checkers/draughts piece."
; should correspond to a piece made of oak wood
mass = 5
bounce = 0.2

[Black Checker]
parent = "White Checker"
color = "#000000"

[Pawn - Wide Base.glb]
name = "White Pawn - Wide Base"
desc = "A wide-based pawn."
mass = 0.75
bounce = 0.1

[Pawn - Humanoid.glb]
name = "White Pawn - Humanoid"
desc = "A human shaped pawn."
; https://www.diceandgames.net/catalogue/pawn-type-d, double the size so 1/4 mass
mass = 0.775
bounce = 0.1

[Black Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#000000"
[Blue Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#00B8FF"
[Dark Blue Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#0065AC"
[Orange Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#FF8200"
[Red Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#EC0000"
[Green Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#00A848"
[Yellow Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#DEE905"
[Purple Pawn - Wide Base]
parent = "White Pawn - Wide Base"
color = "#97009F"

[Black Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#000000"
[Blue Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#00B8FF"
[Dark Blue Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#0065AC"
[Orange Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#FF8200"
[Red Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#EC0000"
[Green Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#00A848"
[Yellow Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#DEE905"
[Purple Pawn - Humanoid]
parent = "White Pawn - Humanoid"
color = "#97009F"

[Bead.glb]
name = "White Bead"
desc = "A bead for playing mancala games."


[Black Bead]
parent = "White Bead"
color = "#000000"
[Blue Bead]
parent = "White Bead"
color = "#00B8FF"
[Dark Blue Bead]
parent = "White Bead"
color = "#0065AC"
[Orange Bead]
parent = "White Bead"
color = "#FF8200"
[Red Bead]
parent = "White Bead"
color = "#EC0000"
[Green Bead]
parent = "White Bead"
color = "#00A848"
[Yellow Bead]
parent = "White Bead"
color = "#DEE905"
[Purple Bead]
parent = "White Bead"
color = "#97009F"
