[*]
author = "Model: sighsv, font: B. Jackowski and J. M. Nowacki"
license = "CC0"
activities = ["Kriegsspiel", "Wargaming"]
cultures = ["Prussia"]
mass = 4.1
com_adjust = "off"
; Default pip correspondance
face_values = {
    1: Vector2(180.0, 0.0),
    2: Vector2(0.0, -90.0),
    3: Vector2(90.0, 0.0),
    4: Vector2(-90.0, 0.0),
    5: Vector2(0.0, 90.0),
    6: Vector2(0.0, 0.0),
}

[Kriegsspiel Die I.glb]
desc = "Die I (1:1 odds, close quarters) for Kriegsspiel."

[Kriegsspiel Die II.glb]
desc = "Die II (3:2 odds, cover) for Kriegsspiel."

[Kriegsspiel Die III.glb]
desc = "Die III (2:1 odds, artillery, good) for Kriegsspiel."

[Kriegsspiel Die IV.glb]
desc = "Die IV (3:1 odds) for Kriegsspiel."

[Kriegsspiel Die V.glb]
desc = "Die V (4:1 odds, artillery, bad) for Kriegsspiel."
